.margintop-5 {
  margin-top: 100px;
}

a {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  #bottom-nav {
    display: none;
  }

  #top-nav-mobile {
    display: none;
  }

  #top-nav-desk {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  #bottom-nav {
    display: block;
    border-top: 1px solid;
    border-color: #000000;
  }

  #top-nav-mobile {
    display: block;
  }

  #top-nav-desk {
    display: none;
  }
}
