<app-navbar [title]="title" [bg]="bg"></app-navbar>
<div class="container">
  <h4 class="mt-5">{{title}}</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-0 mt-3">
        <button (click)="select('yes')" class="btn btn-outline-dark text-left">
          <div class="row">
            <div class="col">
              Yes
            </div>
            <div class="col">
              <div *ngIf="neurology == 'yes'" class="text-right">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-3">
        <button (click)="select('no')" class="btn btn-outline-dark text-left">
          <div class="row">
            <div class="col">
              No
            </div>
            <div class="col">
              <div *ngIf="neurology == 'no'" class="text-right">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-3">
        <button (click)="select('unknown')" class="btn btn-outline-dark text-left">
          <div class="row">
            <div class="col">
              Unknown
            </div>
            <div class="col">
              <div *ngIf="neurology == 'unknown'" class="text-right">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="mt-3" *ngIf="isEnabled">
        <a [routerLink]="['/six']" class="btn btn-outline-danger">next</a>
      </div>
    </div>
  </div>
</div>
