<app-navbar [title]="title" bg="secondary"></app-navbar>
<div class="container">
  <h4 class="mt-5">OF</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-0 mt-3">
        <button (click)="select('one')" class="btn btn-outline-success text-left">
          <div class="row">
            <div class="col">
              OF 1
            </div>
            <div class="col text-right">
              <div *ngIf="button == of1">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-3">
        <button (click)="select('two')" class="btn btn-outline-success text-left">
          <div class="row">
            <div class="col">
              OF 2
            </div>
            <div class="col text-right">
              <div *ngIf="button == of2">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-3">
        <button (click)="select('three')" class="btn btn-outline-success text-left">
          <div class="row">
            <div class="col">
              OF 3
            </div>
            <div class="col text-right">
              <div *ngIf="button == of3">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-3">
        <button (click)="select('four')" class="btn btn-outline-success text-left">
          <div class="row">
            <div class="col">
              OF 4
            </div>
            <div class="col text-right">
              <div *ngIf="button == of4">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-3">
        <button (click)="select('five')" class="btn btn-outline-success text-left">
          <div class="row">
            <div class="col">
              OF 5
            </div>
            <div class="col text-right">
              <div *ngIf="button == of5">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="row">
        <div class="col text-left">
          <a [routerLink]="['/two']" class="btn btn-outline-danger mt-3">two</a>
        </div>
        <div class="col text-right">
          <app-of-pictures></app-of-pictures>
        </div>
      </div>
    </div>
  </div>
</div>
