<app-navbar [title]="title" bg="secondary"></app-navbar>
<div class="container">
  <h4 class="mt-5">OF</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-0 mt-2">
        <button (click)="select('one')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              OF 1
            </div>
            <div class="col text-right">
              <div *ngIf="buttonOne">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-2">
        <button (click)="select('two')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              OF 2
            </div>
            <div class="col text-right">
              <div *ngIf="buttonTwo">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-2">
        <button (click)="select('three')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              OF 3
            </div>
            <div class="col text-right">
              <div *ngIf="buttonThree">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-2">
        <button (click)="select('four')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              OF 4
            </div>
            <div class="col text-right">
              <div *ngIf="buttonFour">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="card border-0 mt-2">
        <button (click)="select('five')" class="btn btn-outline-secondary text-left">
          <div class="row">
            <div class="col">
              OF 5
            </div>
            <div class="col text-right">
              <div *ngIf="buttonFive">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
