<span>
  <small><a class="btn btn-outline-success" (click)="open(content)">pics</a></small>
</span>
<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title">
      OF Bilder
    </div>
  </div>
  <div class="modal-body">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="_OF_1_M_T" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="_OF_1_O_T" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>

