<app-navbar [title]="title" bg="info"></app-navbar>
<div class="container">
  <div class="mt-3">
    <a href="assets/pdf/Intro_OF_end.pdf" target="_blank" class="btn btn-outline-info">Intro</a>
  </div>
  <div class="mt-3">
    <a href="https://journals.sagepub.com/doi/full/10.1177/2192568217717972?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed" target="_blank">
      Classification of Osteoporotic Thoracolumbar Spine Fractures
    </a>
  </div>
  <div class="mt-3">
    <a href="https://journals.sagepub.com/doi/full/10.1177/2192568217745823?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed" target="_blank">
      Nonsurgical and Surgical Management of Osteoporotic Vertebral Body Fractures
    </a>
  </div>
</div>
