<app-navbar [title]="title" [bg]="bg" [home]="home"></app-navbar>
<div class="container">
  <div class="row home-class">
    <div class="col mt-5">
      <h4>
        Welcome to the OF Score
      </h4>
      <div class="mt-5">
        <a [routerLink]="['/one']" class="btn btn-outline-danger">Of Score</a>
      </div>
      <div class="mt-5">
        <a [routerLink]="['/further']" class="btn btn-outline-info">Further Info</a>
      </div>
      <div class="mt-5">
        <a href="https://7lc.org/instructions" class="btn btn-sm btn-outline-success" target="_blank">Install</a>
      </div>
    </div>
    <div class="col mt-5">
      <p>
        <img src="../../../assets/pictures/of_trans.png" />
      </p>
    </div>
  </div>
</div>
